/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

/* ESTILOS GENERALES */
/* estilos body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #F5F5DC
}

.body-grid{
    color: #4d4d4d;
}

.cardProductos{
    height: 7.5rem;
    border-radius: 5px;
    border: 1px solid black;
}